* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    display: block;
    max-width: 100%;
}

ul {
    margin: 0%;
    list-style: none;
    display: flex;
    gap: 2rem;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: grey;
}


.nav-container {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    / position: fixed;
    /z-index: 10;
}

.navlink-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.navlink-container2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1rem;
}


.container-large {
    max-width: 1080px;
    margin: 0 auto;
    z-index: 1;
    padding-top: 2rem;
    position: relative;
    top: 4rem;
}

.container {
    max-width: 920px;
    margin: 0 auto;

}

.container-border {
    max-width: 920px;
    margin: 0 auto;
    border: 1px solid;
}

.container-flex {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    column-gap: 2rem;
    padding-bottom: 4rem;

}

.first-section {
    background-color: rgb(185, 207, 229);
}

.second-section {
    margin-top: 7rem;
}

.first-section-text-container {
    display: flex;
}

.first-section-img-container {
    display: flex;
    flex-direction: column;
}

.column-title1 {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
}

.column-img1 {
    background-size: cover;
    flex-basis: 70%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.middle-column {
    width: 33%;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.middle-column1 {
    padding: 1rem;
}


.padding-bottom2 {
    padding-bottom: 2rem;
}

.padding-bottom1 {
    padding-bottom: 1rem;
}

.padding-top {
    padding-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;

}

.bold {
    font-weight: bold;
}

.icon-title {
    font-size: 2rem;
    padding-top: 3rem;
}

.btn-big {
    padding: 8px 6px;
    border: 0px;
}

.btn-small {
    padding: 3px 10px;
    border: 0;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.column-icon-description {
    padding-bottom: 1rem;
}

.column-button {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.column-link {
    text-decoration: underline;
    color: blue;
}

.column-intestation {
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid;
    width: 100%;
    padding-top: 0.5rem;
}

.hr-line {
    height: 1px;
    background-color: grey;
    width: 10%;
}

.blue-icon {
    color: blue;
}

.check-info {
    padding-bottom: 1rem;
}

.contact-title {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid;
}

.contact-info-container {
    display: flex;
    padding: 2rem;
}

.info1 {
    flex-direction: column;
    flex-basis: 75%;

}

.info2 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding-right: 2rem;
}