* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
}

img {
    margin: 0;
    display: block;
    max-width: 100%;
}

ul {
    /* margin: 0%; */
    list-style: none;
    /* display: flex; */
    gap: 2rem;
}

h1 {
    font-size: 5rem;
}


h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: grey;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-container ul {
     margin: 0%;
     list-style: none;
     display: flex;
     gap: 2rem;
}


.nav-container {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    / position: fixed;
    /z-index: 10;
}

.navlink-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.navlink-container2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1rem;
}


.container-large {
    max-width: 1080px;
    margin: 0 auto;
    z-index: 1;
    padding-top: 2rem;
    position: relative;
    top: 4rem;
}

.container {
    max-width: 920px;
    margin: 0 auto;

}

.container-full {
    width: 100%;
}

.container-footer {
    width: 1080px;
    margin: 0 auto;
    padding: 6rem;
}

.container-border {
    max-width: 920px;
    margin: 0 auto;
    border: 1px solid;
}

.container-flex {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    column-gap: 2rem;
    padding-bottom: 4rem;
}

.color-section {
    background-color: rgb(185, 207, 229);
}

.second-section {
    margin-top: 7rem;
    padding-bottom: 8rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.row-buisness {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.row-space {
    display: flex;
    justify-content: space-between;
}

.first-section-img-container {
    display: flex;
    flex-direction: column;
}

.col-30 {
    flex-basis: 30%;
    flex-direction: column;
}

.col-70 {
    background-size: cover;
    flex-basis: 70%;
    object-fit: cover;
    background-repeat: no-repeat;
}


.middle-column {
    width: 33%;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}


.middle-column1 {
    padding: 1rem;
}

.padding-s {
    padding: 1rem;
}

.padding-m {
    padding: 3rem;
}

.padding-bottom2 {
    padding-bottom: 2rem;
}

.padding-bottom1 {
    padding-bottom: 1rem;
}

.padding-bottom4 {
    padding-bottom: 4rem;
}

.padding-bottom6 {
    padding-bottom: 6rem;
}

.padding-top {
    padding-top: 2rem;
}

.padding-top8 {
    padding-top: 8rem;
}

.margin-bottom {
    margin-bottom: 2rem;

}

.margin-bottom-big {
    margin-bottom: 10rem;

}

.bold {
    font-weight: bold;
}

.icon-title {
    font-size: 2rem;
    padding-top: 3rem;
}

.btn-big {
    padding: 8px 6px;
    border: 0px;
}

.btn-small {
    padding: 3px 10px;
    border: 0;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.column-icon-description {
    padding-bottom: 1rem;
}

.column-button {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.column-link {
    text-decoration: underline;
    color: blue;
}

.column-intestation {
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid;
    width: 100%;
    padding-top: 0.5rem;
}

.column-title {
    padding-bottom: 1.5rem;
}


.hr-line {
    height: 1px;
    background-color: grey;
    width: 10%;
}

.blue-icon {
    color: blue;
}

.check-info {
    padding-bottom: 1rem;
}

.contact-title {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid;
}

.contact-info-container {
    display: flex;
    padding: 2rem;
}

.box-container {
    display: flex;
}

.box-33 {
    width: 30%;

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.box-50 {
    width: 40%;
    display: flex;
    overflow: hidden;
}

.img-box {
    display: block;
    aspect-ratio: 1/1;
    padding: 4vh;
    width: 60%;
    filter: invert();
    object-fit: contain;
}


.FAQ .container>div {
    padding-left: 0;
    position: relative;
    border-bottom: 1px solid grey;
}

.FAQ-arrow {
    position: absolute;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
}

.FAQ-arrow i {
    padding-top: 2rem;
}

.answer {
    position: relative;
    opacity: 0;
    transition: top 1.5s, opacity 1.5s;
}

.FAQ ul {
    display: none;
    padding: 2rem;
}

.FAQ li {
    list-style: square;
    padding-top: 1rem;
    border-bottom: 1px solid grey;
}

[type=checkbox]:checked+label ul {
    display: block;
}

[type=checkbox]:checked+label .answer {
    top: 0;
    opacity: 1;
}

[type=checkbox] {
    display: none;
}

.row-space a {
    color: white;
}

.container-footer a {
    padding: 0.5rem;
    display: block;
}

.container-footer h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.hr-footer {
    color: white;
    height: 1px;
    border-bottom: 1px solid white;
    width: 15%;
    padding-top: 6rem;
}